.cache
.idea
node_modules
dist
package-lock.json
packages/@navikt/**/*.js
app/**/*.js
*.js.map
.vscode
lerna-debug.log
out*/
packages/**/*.d.ts
storybook-static
coverage
__tests__/__image_snapshots__/__diff_output__