.card {
    display: flex;
    align-items: center;
    padding: 10px 32px 6px;
    border-bottom: 4px solid transparent;

    &--active {
        border-bottom: 4px solid #0067c5;
    }

    &__container {
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    &__name {
        &.typo-normal {
            font-weight: 400;
            padding: 0 1.5px;
            color: #0067c5;
        }

        &--active {
            text-decoration: none;
            &.typo-normal {
                font-weight: 600;
                color: black;
                padding: 0;
            }
        }
    }

    &__gender-icon {
        width: 24px;
        height: 24px;
        margin-right: 1rem;

        &--unknown {
            width: 26px;
            height: 26px;
        }
    }

    &__selector {
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0;
        text-decoration: underline;
        color: #0067c5;

        &[aria-current='true'] {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__menu-container {
        border: 1px solid #b7b1a9;
        position: absolute;
        background-color: white;
        left: -10px;
        padding: 16px;
    }

    .arrow {
        position: absolute;
        background-color: white;
        transform: rotate(45deg);
        width: 1em;
        height: 1em;

        &[data-placement*='bottom-start'] {
            border-top: 1px solid #b7b1a9;
            border-left: 1px solid #b7b1a9;
            top: -8px;
            z-index: 1;
        }
    }
}
