.menu {
    background: none;
    border: none;
    height: 34px;
    width: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 8px;

    &:focus,
    &:hover {
        outline: none;
        border-radius: 1px;
        background-color: #e7e9e9;
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}
