.decorator {
  background-color: #3e3832;
  width: calc(100% - 32px);
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.decorator__title {
  color: white;
}

.decorator__subtitle {
  display: inline-block;
  margin-left: 8px;
}

.decorator__column {
}

/* USER */
